// @use '~/app/styles/mixins' as mx;
// @use '~/app/styles/functions' as fn;
@use '~/app/styles/mediaqueries' as mq;

.nav {

}

// .menuButton {
//   color: red;

//   @include mq.breakpoint($from: small) {
//     display: none;
//   }
// }

// .menuButtonHiddenText {
//   display: none;
// }

// .menuButtonIcon {

// }

.list {
  display: none;

  @include mq.breakpoint($from: small) {
    display: block;
  }
}

.listVisible {
  display: block;
}

.item {

  /*
  font-size: fn.toRem(16);

  @include mq.breakpoint($from: small) {
    font-size: fn.toRem(32);
    color: red;
  }

  @include mq.mouseOnly {
    color: green;
  }

  @include mq.reducedMotion {
    color: brown;
  }
  */
}

.link {

}